---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allTeas = await getCollection("teas");

    const uniqueTags = [...new Set(allTeas.map((tea) => tea.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredTeas = allTeas.filter((tea) => tea.data.tags.includes(tag));
        return {
            params: { tag },
            props: { teas: filteredTeas },
        };
    });
}

const { tag } = Astro.params;
const { teas } = Astro.props;
const containerMaxWidth = "900px";

---
<BaseLayout pageTitle={tag} {containerMaxWidth}>
  <p>Чаї за маркуванням {tag}</p>
  <ul>
    {teas.map((tea) => 
        <BlogPost 
            url={`/teas/${tea.slug}/`}
            title={tea.data.title}
            image={tea.data.image} 
            pubDate={tea.data.pubDate}
        />)}
  </ul>
</BaseLayout>