---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("library");
const pageTitle = "Читальня";
const containerMaxWidth = "90%";
---

<BaseLayout {pageTitle} {containerMaxWidth}>
    <h1>{pageTitle}</h1>
	<ul class="posts-preview">
        {
            allPosts.map((post) => (
                <BlogPost
                    class="post"
                    url={`/library/${post.slug}/`}
                    title={post.data.title}
                    description={post.data.description}
                    pubDate={post.data.pubDate}
                />
            ))
          }
    </ul>
</BaseLayout>

<style>
    .posts-preview {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        padding: 0;
    }

    @media screen and (min-width: 768px) {
        .posts-preview {
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem 1rem;
        }
        .post-preview > .posts-preview__link:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
</style>