---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogTeas from '../components/BlogTeas.astro';

const allTeas = await getCollection("teas");
const pageTitle = "Наші чаї";
const containerMaxWidth = "900px";
---

<BaseLayout {pageTitle} {containerMaxWidth}>
    <h1>{pageTitle}</h1>
    <ul>
        {allTeas.map((tea) => 
        <BlogTeas 
            url={`/teas/${tea.slug}/`}
            title={tea.data.title}
            image={tea.data.image}
            pubDate={tea.data.pubDate}
        />)}
    </ul>
</BaseLayout>
