---
import Layout from '@layouts/MainLayout.astro';
import Header from '@partials/HeaderMain.astro';
import Footer from '@partials/FooterMain.astro';

import { getCollection } from "astro:content";

const allTeas = await getCollection("teas");
---

<Layout title='Наші чаї'>
	<Header />

	<main class='py-12'>
		<div class='container prose prose-lg'>
			<h1>Наші чаї</h1>

      <ul class="grid gap-12">
        <!-- {allTeas.map((tea) => 
          <BlogTeas 
              url={`/teas/${tea.slug}/`}
              title={tea.data.title}
              subtitle={tea.data.subtitle}
              image={tea.data.image}
              pubDate={tea.data.pubDate}
              price={tea.data.price}
          />)} -->
      </ul>
		</div>
	</main>

	<Footer />
</Layout>
