---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/teas/*.md');
const pageTitle = "Наші чаї";
const containerMaxWidth = "900px";
---

<BaseLayout {pageTitle} {containerMaxWidth}>
    <h1>{pageTitle}</h1>
    <ul>
        {allPosts.map((tea) => 
        <BlogPost 
            url={tea.url} 
            title={tea.frontmatter.title} 
            image={tea.frontmatter.image} 
            pubDate={tea.frontmatter.pubDate}
        />)}
    </ul>
</BaseLayout>
