---
import { Image } from "astro:assets";

const image1 = "/src/content/teas/images/2005-liubao/2005-liubao-0.jpg"
const image2 = "/src/content/teas/images/2005-liubao/2005-liubao-1.jpg"
const image3 = "/src/content/teas/images/2005-liubao/2005-liubao-2.jpg"
const image4 = "/src/content/teas/images/2005-liubao/2005-liubao-3.jpg"
const image5 = "/src/content/teas/images/2005-liubao/2005-liubao-4.jpg"
---

<!-- <div class="gallery">
    <input type="radio" checked="checked" name="select" id="img-tab-1">
    <label for="img-tab-1" style="background-image: url(/src/content/teas/images/2005-liubao/2005-liubao-0.jpg);"></label>
    <img src={image1} />
  
    <input type="radio" name="select" id="img-tab-2">
    <label for="img-tab-2" style="background-image: url(/src/content/teas/images/2005-liubao/2005-liubao-1.jpg);"></label>
    <img src={image2} />
  
    <input type="radio" name="select" id="img-tab-3">
    <label for="img-tab-3" style="background-image: url(/src/content/teas/images/2005-liubao/2005-liubao-2.jpg);"></label>
    <img src={image3} />
    
    <input type="radio" name="select" id="img-tab-4">
    <label for="img-tab-4" style="background-image: url(/src/content/teas/images/2005-liubao/2005-liubao-3.jpg);"></label>
    <img src={image4} />
  </div> -->

  <div class="container">
    <ul class="slides">
      <li class="slide" id="slide1"><img class="big-image" src={image1} alt="" /></li>
      <li class="slide" id="slide2"><img class="big-image" src={image2} alt="" /></li>
      <li class="slide" id="slide3"><img class="big-image" src={image3} alt="" /></li>
      <li class="slide" id="slide4"><img class="big-image" src={image4} alt="" /></li>
      <li class="slide" id="slide5"><img class="big-image" src={image5} alt="" /></li>
    </ul>
  
    <ul class="thumbnails">
      <li class="links"><a class="link" href="#slide1"><img class="thumbnails-image" src={image1} /></a></li>
      <li class="links"><a class="link" href="#slide2"><img class="thumbnails-image" src={image2} /></a></li>
      <li class="links"><a class="link" href="#slide3"><img class="thumbnails-image" src={image3} /></a></li>
      <li class="links"><a class="link" href="#slide4"><img class="thumbnails-image" src={image4} /></a></li>
      <li class="links"><a class="link" href="#slide5"><img class="thumbnails-image" src={image5} /></a></li>
    </ul>
  </div>

<style>
/* .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 7px;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        align-content: start;
        max-width: 85vh;
        margin: 0 auto;
        transition: all 200ms linear;
    }

.gallery input[type="radio"] {
  display: none;
}

.gallery label {
  position: relative;
  display: block;
  padding-bottom: 60%;
  margin: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.gallery label:before {
  border: 1px solid #e3e3e3;
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
}

img {
    border: 0;
}

.gallery img {
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  transition: all 150ms linear;
}

.gallery input[name="select"]:checked + label + img {
  display: block;
}

.gallery input[name="select"]:checked + label:before {
  border: 1px solid #000;
} */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
    padding: inherit;
    list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
  
.links {
    flex: auto; 
}

.link {
    display: block;
}
  
.thumbnails-image {
    width: 18vmin;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.slides {
  overflow: hidden;
  width: 90vmin;
  height: 90vmin;
}
  
.slide {
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    z-index: 1;
}
  
.big-image {
    max-height: 90vmin;
    object-fit: cover;
    object-position: top;
    max-inline-size: none;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

</style>