---
import { formatDate } from "@utils";
const { post } = Astro.props;
const { title, description, tags, pubDate } = post.frontmatter;
const formattedDate = formatDate(pubDate)
---

<li class='py-12'>
	<article>
		<div
			class='xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0 space-y-2'>
			<dl>
				<dt class='sr-only'>Дата публікації</dt>
				<dd
					class='text-base font-medium leading-6 text-gray-500 dark:text-gray-400'>
					<time datetime={pubDate}>{formattedDate}</time>
				</dd>
			</dl>
			<div class='xl:col-span-3 space-y-5'>
				<div class='space-y-6'>
					<div class="flex flex-col gap-2">
						<h2 class='text-2xl font-bold leading-8 tracking-tight'>
							<a class='text-gray-900 dark:text-gray-100' href={post.url}>{title}</a>
						</h2>
						<ul class='flex flex-wrap'>
							{
								tags.map((tag: string) => (
									<li class='mr-3 text-sm font-medium uppercase text-pink-600 hover:text-pink-500'>
										{tag}
									</li>
								))
							}
						</ul>
					</div>
					<div class='prose max-w-none text-gray-500 dark:text-gray-400'>{description}</div>
				</div>
				<div class='text-base font-medium leading-6'>
					<a
						class='text-pink-600 hover:text-pink-500'
						aria-label=`Read "${title}"`
						href={post.url}>Читати більше →</a
					>
				</div>
			</div>
		</div>
	</article>
</li>