---
import BaseLayout from "./BaseLayout.astro";
import { formatDate } from "../utils/helpers.js";

const { frontmatter } = Astro.props;
const containerMaxWidth = "900px";
---

<BaseLayout pageTitle={frontmatter.title} {containerMaxWidth}>
    <h1 class="header-title">{frontmatter.title}</h1>
    <h4 class="header-author">{frontmatter.author}</h4>
    <p class="header-date">Опубліковано: {formatDate(frontmatter.pubDate)}</p>
    <slot />
</BaseLayout>

<style>
    .tag-link {
      color: var(--choco);
    }

    .header-title {
        text-align: center;
    }

    .header-author {
        font-style: italic;
        text-align: end;
    }
    .header-date {
        font-style: italic;
        margin: 1rem 0 2rem;
        text-align: end;
    }

    .tea-image {
        border-radius: 1rem;
        width: 100%;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>
